{% load i18n %}

<div id="carousel-items">
<h2 class="heading-first">{% trans 'Carousel items' %}</h2>

<div id="items-list">
    {% include "lfs_carousel/items-list.html" %}
</div>

<h2 class="heading-middle">{% trans 'Add items' %}</h2>
<div id="carousel-content">
    <form id="file_upload" action="{% url 'lfs_carousel_add_item' ct.pk obj.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="button" type="file" name="files[]" multiple>
    </form>
    <table id="images-uploads-table" data="{% url 'lfs_carousel_manage_items' ct.pk obj.pk %}" msg='{% trans "Uploading images:" %}'></table>
</div>
<script>
    $(function() {
        // items tab
        var image_file_upload = $('#file_upload'),
            image_upload_url = image_file_upload.prop('action');

        image_file_upload.fileupload({
            url: image_upload_url,
            dataType: 'json',
            singleFileUploads: false // add event will now receive a list of files
        }).on('fileuploadadd', function (e, data) {
                var files_table = $("#images-uploads-table");
                var fileNames = '';
                var msg = files_table.attr("msg");

                $.each(data.files, function (index, file) {
                    fileNames = fileNames + file.name + '<br>';
                });
                files_table.append($(
                    '<tr>' +
                    '<td><div style="font-weight:bold; padding-bottom:10px">' + msg + '<img src="' + STATIC_URL + 'lfs/img/ajax-loader.gif" style="padding:8px 0 0 10px" /></div>' + fileNames + '<\/td>' +
                    '<\/tr>'
                ));

                data.submit();
          }).on('fileuploaddone', function (e, data) {
                var uploads_table = $("#images-uploads-table");
                var url = uploads_table.attr("data");

                // after upload is done remove information about uploading
                uploads_table.empty();

                $.get(url, function(data) {
                    data = safeParseJSON(data);
                    $("#items-list").html(data["items"]);
                    $.jGrowl(data["message"]);
                });
          })
        .prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
</div>